.control-container {
  width: 100%;
}

.control-container .header {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 6px;
  background-color: #b0d490;
  color: black;
}

.control-container .content {
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-size: 18px;
}

.control-container .content div {
  margin: 10px 0;
}

.control-container .content input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin: 5px 10px;
}

.control-container .content .type-selector select {
  margin: 0 10px;
  font: "Roboto";
}
