.control-container {
  width: 100%;

  --primary: #9c27b0;
  --primary-light: #d05ce3;
  --primary-dark: #6a0080;
  --black: #3f3844;
}

.control-container .content {
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  padding: 0 15px;
  display: flex;
  font-size: 16px;
}

.control-container .content .flex-item {
  flex: 2;
}

.control-container .content .flex-item.two {
  flex: 1;
}

.control-container .content div {
  margin: 10px 0;
}

.control-container .content input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin: 5px 10px;
}

.control-container .content .selector label {
  display: inline-block;
  min-width: 200px;
}

.control-container .content .selector select {
  margin: 0 10px;
  min-width: 120px;
}
