.control-container {
  width: 100%;
}

.control-container .header {
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-bottom: 3px solid purple;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.control-container .header span {
  color:  purple;
  font-weight: bold;
  font-size: 28px;
  margin-right: 5px;
}

.control-container .content {
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  display: flex;
  font-size: 18px;

}

.control-container .content .flex-item {
  flex: 1;
}

.control-container .content .flex-item.two {
  flex: 0.5;
}

.control-container .content div {
  margin: 10px 0;
}

.control-container .content input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin: 5px 10px;
}

.control-container .content .selector label {
  display: inline-block;
  min-width: 200px;
}


.control-container .content .selector select {
  margin: 0 10px;
  min-width: 120px;
}
