.summary {
  --black: #3f3844;
}

.summary th,
.summary td {
  padding: 10px;
}
.summary tr {
  min-height: 40px;
  border-bottom: 1px solid var(--black);
}

.summary table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.summary td, .summary th {
  text-align: right;
}

.summary td:nth-child(1), .summary th:nth-child(1) {
  text-align: left;
}
