.summary {
  --black: #3f3844;
}

.summary th,
.summary td {
  border: 1px solid var(--black);
  padding: 5px;
}

.summary tr {
  min-height: 30px;
}

.summary table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.summary td {
  text-align: center;
}
