.searchContainer {
  display: flex;
}

.side {
  position: relative;
  max-height: 100%;
}

.side.one {
  flex: 1;
  height: calc(100vh - 65px);
}

.side.two {
  flex: 2;
}

.navigation li {
  display: inline;
  opacity: 0.5;
  margin: 10px;
}

.navigation li.active {
  opacity: 1;
}

.banner {
  border-bottom: 3px solid var(--green);
  padding: 0 30px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  font-size: 20px;
  line-height: 60px;
  box-shadow: 1px 3px 6px #00000026;
}

.banner .logo {
  text-align: right;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.pubchem {
  position: relative;
  padding: 10px;
  overflow: hidden;
}
