.map-wrapper {
  position: relative;
  width: 100vw;
  height: 700px;
}

.filler {
  margin: 30px;
  text-align: center;
}

.filler .header {
  font-size: 50px;
}

.navigation li {
  display: inline;
  opacity: 0.5;
  margin: 10px;
}

.navigation li.active {
  opacity: 1;
}

.banner {
  background-color: #393c3e;
  padding: 5px 20px;
  font-size: 20px;
  line-height: 60px;
  box-shadow: 0 0 transparent, 0 0 transparent, 1px 3px 6px #00000026;
  margin-bottom: 10px;
}

.banner div {
  display: inline-block;
}
