.graph-container {
  position: relative;
  top: 72px;
  background: #fff;
  height: calc(100vh - 72px);
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.graph-container h1 {
  text-align: center;
  font-size: 40px;
}

.graph-container .flex-container {
  position: relative;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.graph-container .flex-container .flex-item {
  height: 100%;
}

.graph-container .flex-container .flex-item.left {
  flex: 3;
  border-right: 1px solid #3f3844;
}

.graph-container .flex-container .flex-item.right {
  flex: 5;
  overflow-y: scroll;
}

.graph-container .graphs {
  width: 100%;
}

.graph-container .graph {
  position: relative;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 40px;
  width: 80%;
  border-radius: 25px;
}

.graph-container .graph .header {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.graph-container .dropdown-icon {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 20px;
}

.graph-container .dropdown-icon.active {
  transform: rotate(180deg);
  transform-origin: 60% 50%;
}

.graph-container .summary th,
.graph-container .summary td {
  border: 2px solid var(--blue);
  padding: 5px;
}

.graph-container .summary tr {
  min-height: 30px;
}

.graph-container .summary table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.graph-container .top-ten {
  position: relative;
}

.graph-container .filter-container {
  width: 100%;
  left: 0;
  border-bottom: 1px solid #3f3844;
}

.dynamic-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.sticky-header{
  border-collapse: collapse;
  background-color: #CCC;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.25em 0.5em 0.25em 1em;
}

.odd-row{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #FFF;
}

.even-row{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #DDD;
}

.even-overflow-column{
    width:40%;
    min-width:200px;
    background-color: #DDD;
}

.odd-overflow-column{
    width:40%;
    min-width:200px;
    background-color: #FFF;
}