.graph-container {
  position: relative;
  /* background: #f7f7f7; */
  background: #fff;
}

.graph-container h1 {
  text-align: center;
  font-size: 40px;
}

.graph-container .graph {
  position: relative;
  justify-content: center;
  padding: 0 50px;
  padding-top: 75px;
  padding-bottom: 40px;
  width: 60vw;
  /* max-width: 60%; */
  margin: 20px auto;
  border-radius: 25px;
  box-sizing: border-box;
  /* background: #fff;
  box-shadow: 0 0.75rem 2rem rgba(25, 23, 40, 0.15); */
}

.graph-container .header {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.graph-container .dropdown-icon {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 20px;
}

.graph-container .dropdown-icon.active {
  transform: rotate(180deg);
  transform-origin: 60% 50%;
}

.graph-container .summary {
  width: 100%;
}

.graph-container .summary th,
.graph-container .summary td {
  border: 2px solid var(--blue);
  padding: 5px;
}

.graph-container .summary tr {
  min-height: 30px;
}

.graph-container .summary table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.graph-container .top-ten {
  position: relative;
}
