.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.searchField input,
.searchField button {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid rgba(128, 128, 128, 0.507);
}

.searchField input[type="text"] {
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  margin: 10px;
}

.searchField button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  min-width: 60px;
  cursor: pointer;
}

.searchField button:hover, .searchField input:focus {
  border: 2px solid rgb(53, 124, 255);
}
